

/* =========== SECTION 1: Bootstrap Override =============== */

.form-control, .btn, input, textarea { border-radius:0; }

.btn-link:hover {
	text-decoration: none;
}

.thumbnail {
	padding: 0;
}

.thumbail img {
	padding: 0;
	border: 0;
}

label {
  font-weight: bold;
  display: block;
}

label.required:after, 
label.optional:after {
  font-style: oblique;
  font-weight: normal;
  opacity: 0.8;
  font-size: smaller;
  float: right;
}

label.optional:after {
  content:" (optional)";
}

label.required:after {
  content:" (required)";
  color:red;
}

a,a:hover,a:active,a:visited, a:visited:hover {
  color: inherit;
  text-decoration: none;
}

a#link {
	color:#A08A5C;
	font-weight: bold;
}


img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}



.section {
    padding: 50px 30px 0px;
}




/* ================== SECTION 2: Typography ========================= */

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color:#444;
	background-color: #fff;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
}

.jumbotron h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
}

.jumbotron h3 {
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
}

footer {
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
}

.intonation {
	font-family: 'Nunito', sans-serif;
}

.name {
	color: #CDA463;
	font-weight: bold;
	text-transform: capitalize;
}







/* ================ SECTION 3: Layouts ================== */

header {
	padding-top: 5px;
	padding-bottom: 15px;
}

.navbar {
	border-radius: 0;
    margin-bottom: 0px;
}

/*.navbar-brand {
	padding:0;
}
*/


.hlogo{
	font-weight: 600;
	font-size: 25px;
}

header .container img.logo {
    width: 215px;
    height: 60px;
}

.navbar li a {
	margin-top: 10px;
}

.nav > li > a:focus, 
.nav > li > a:hover {
    text-decoration: none;
    background: none;
}


/*-------------- Banner -----------------*/


.section.hero.home.photography {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 100px;
    background-color: #fafafa;
     /*background-image: url(https://assets-global.website-files.com/5b5a66e…/5cf9214…_hero-home.jpg); */
    background-position: 50% 0%;
    background-size: 2627px;
    background-attachment: scroll;
}

.section.hero.home {
    padding-top: 70px;
    padding-bottom: 0px;
    background-image: none;
}

.container.home {
    text-align: center;
}

.container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1100px;
    min-height: 15px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.heading-home {
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
}

.subhead.mobile.home {
    margin-bottom: 30px;
    color: #222d38;
    line-height: 32px;
    font-weight: 400;
    font-size: 16px;
}

.button-fat.home {
    padding: 12px 28px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.button-fat {
    position: relative;
    z-index: 9;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 3px;
    background-color: #e57414;
    box-shadow: 1px 3px 9px 0 rgba(0, 0, 0, 0.09);
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-decoration: none;
}


.rounded {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    margin: 0px auto;
}

/*---------- end of banner -------*/


/*------------ logo section -------*/

.section.logos {
    padding-top: 0px;
}

.container.centered {
    margin-top: 32px;
    text-align: center;
}

.heading-2-body.light {
    margin-bottom: 14px;
}

.heading-2-body {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}


.subhead.subsequent {
    margin-bottom: 13px;
    font-weight: 400;
}
.subhead {
    margin-bottom: 24px;
    color: #46586b;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0px;
}


.clients-bar.desktop.home {
    margin-bottom: 0px;
}
.clients-bar.desktop {
    position: relative;
    top: 0px;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
}
.clients-bar {
    display: block;
    width: 100%;
    max-width: 920px;
    margin: 40px auto;
}

.clients-bar.mobile {
    display: none;
}




.powering-section {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 110px;
    margin-bottom: 130px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}


.employee-avatar {
    position: relative;
    left: 0px;
    top: -70px;
    z-index: 2;
    width: 20%;
    height: 336px;
    border-radius: 3px;
}

.employee-picture {
    position: relative;
    z-index: 2;
    border-radius: 3px;
    box-shadow: 0 25px 30px -14px rgba(158, 117, 95, 0.28);
}


.accent-quote {
    position: absolute;
    left: -18px;
    top: -18px;
    right: auto;
    bottom: auto;
}



.dot-quote {
    position: absolute;
    left: -30px;
    top: auto;
    right: auto;
    bottom: -20px;
    z-index: 1;
}

.powering-people {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    max-width: 80%;
    padding: 60px;
    border-radius: 3px;
    background-color: #FFF9F0;
    text-align: left;
}


.heading-2-body {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
}

.powering-quote-content {
    position: relative;
}



.powering-quote {
    max-width: 1360px;
    margin-bottom: 16px;
    padding: 0px 24px 0px 0px;
    border-left-style: none;
    color: #222d38;
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
}


blockquote {
    margin: 0 0 10px 0;
    padding: 10px 20px;
    border-left: 5px solid #E2E2E2;
    font-size: 18px;
    line-height: 22px;
}

.intro-quote {
    position: absolute;
    left: -30px;
    top: 2px;
    right: auto;
    bottom: auto;
}

.powering-quote-author {
    color: #585452;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

.employee-mobile {
    display: none;
}

.quote-semi {
    font-weight: 600;
}

.powering-fact {
    padding-left: 24px;
    border-left: 1px solid #ded6cd;
}

.powering-key-number {
    margin-bottom: 8px;
    color: #222d38;
    font-size: 32px;
    line-height: 46px;
    font-weight: 700;
}

.powering-legend {
    color: #585452;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.cta-block.powering {
    margin-top: 20px;
}

.cta-block {
    display: block;
    color: #e76450;
    line-height: 20px;
    font-weight: 500;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.cta-text {
    display: inline-block;
    margin-right: 7px;
    color: #e57414;
    font-size: 14px;
    font-weight: 400;
}

.cta-text-arrow {
    display: inline-block;
    margin-left: 0px;
    color: #e57414;
    font-size: 14px;
}

.powering-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}	




@media (max-width: 479px){
.powering-people {
    position: relative;
    padding-right: 14px;
    padding-left: 14px;
}}

@media (max-width: 767px){
.powering-people {
    position: relative;
    max-width: 100%;
}}
@media (max-width: 991px){
.powering-people {
    /*max-width: 82%;*/
    padding: 30px;
}}


@media (max-width: 479px){
.heading-2-body {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}}

@media (max-width: 479px){
.powering-content {
    display: block;
}}


@media (max-width: 479px){
.powering-quote {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 17px;
    line-height: 22px;
}}
@media (max-width: 767px){
.powering-quote {
    width: auto;
}}


@media (max-width: 479px) {
.intro-quote {
    display: none;
}}
@media (max-width: 991px){
.intro-quote {
    left: -24px;
    top: -16px;
}}


@media (max-width: 479px){
.powering-quote-author {
    font-size: 14px;
}}

@media (max-width: 479px){
.employee-avatar {
    display: none;
}}

@media (max-width: 767px){
.employee-mobile {
    display: block;
    max-width: 32px;
    margin-top: 10px;
    border-radius: 100px;
}}


@media (max-width: 479px){
.powering-section {
    margin-top: 100px;
    margin-bottom: 30px;
}}

@media (max-width: 767px){
.powering-section {
    position: relative;
}}

@media (max-width: 479px){
.powering-fact {
    margin-top: 28px;
    padding-top: 24px;
    padding-left: 0px;
    border-top: 1px solid #ded6cd;
    border-left-style: none;
}}


@media (max-width: 479px){
.powering-key-number {
    font-size: 30px;
    line-height: 40px;
}}

@media (max-width: 479px){
.powering-legend {
    font-size: 14px;
    line-height: 18px;
}}


@media (max-width: 479px){
.cta-text {
    font-size: 14px;
    line-height: 29px;
}}

@media (max-width: 479px){
.cta-text-arrow {
    font-size: 16px;
}}

/*------ end of logo section -----*/




/*-------- solution section ---------*/


.section-icon {
    height: 75px;
    margin-bottom: 10px;
}


.multipurpose-preheader {
    margin-bottom: 8px;
    color: #617080;
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.heading-2-body {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}


.heading-3-body {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
}



.video-lightbox.small {
    display: block;
    max-width: 770px;
    margin: 40px auto 0px;
}


.large-video-thumbnail {
    display: block;
    width: 100%;
}

.large-play-button {
    height: 89px;
}


.video-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 150;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.showcase {
    margin-top: 48px;
}


.col-33 {
    width: 33.333%;
    min-height: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.cell {
    display: block;
    margin-bottom: 40px;
    text-align: left;
    text-decoration: none;
}

.grid-icon {
    height: 35px;
    margin-bottom: 12px;
}

.explore-heading {
    margin-bottom: 10px;
    color: #253993;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

.description.home {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}


.video-lightbox {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 80px;
    border: 1px solid #e4e9ee;
    border-radius: 4px;
    box-shadow: 0 0 47px 11px rgba(34, 45, 56, 0.03);
}

.tablet-50{
	padding-bottom: 30px;
}


.ctab {
    background-color: #FFF9F0;
    padding: 30px 30px;
    color: #000;
    text-align: center;
    box-shadow: 0 25px 30px -14px rgba(158, 117, 95, 0.28);
    border: 1px dotted #e57414;    
}


/*.section.slight-gray-top {
    position: relative;
    padding-top: 0px;
    padding-bottom: 128px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f7fa), color-stop(29%, #fff));
    background-image: linear-gradient(0deg, #f5f7fa, #fff 29%);
}
*/

.overlay-fg {
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    width: 100%;
}






.search-input { 
	position: relative;
  	display: inline-block;
  	margin: 10px 0px 70px 0px;
}

.search-background {
	background-color: #fff;
	margin-bottom: 20px;
}

ul.alphasearch {
	list-style: none;
	text-align: center;
	font-size: 16px;
	padding-left: 0px;
	padding-bottom: 20px;
	/* margin: 5px 0 5px 0; */
	display: inline-block;
}

ul.alphasearch li {
	/* float: left; */
	/* margin: 1px; */
	padding: 5px 7px;
	color: #20538d;
	display: inline-block;
	text-decoration: none;
	text-transform: lowercase;
}

.th, .th-query {
	text-indent: 0px;
  	border-radius: 50px;
	height: 55px;
	width: 650px;
	margin: 0;
	border: 0;
	font-size: 17px;
	color: #555555;

	-webkit-box-shadow: 0 0 0 1px #20538d;
	-moz-box-shadow: 0 0 0 1px #20538d;
	box-shadow: 0 0 0 1px #20538d;
}

.th:focus, .th-query:focus {
	-webkit-box-shadow: 0 0 0 3px #20538d;
	-moz-box-shadow: 0 0 0 3px #20538d;
	box-shadow: 0 0 0 3px #20538d;
}

.tt-hint {
	font-weight: bold;
}

.tt-menu {
	background-color: #FFFFFF;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 5px;
	padding: 8px 0;
	width: 650px;
}

.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
	color: #555555;
	text-align: left;
	cursor: pointer;
}

.tt-suggestion p {
	margin: 0;
}

.search-input .fa-keyboard-o {
  	position: absolute;
	top: 20px;
	right: 60px;
	font-size: 15px;
}

#keyboardp {
	cursor: pointer;
	color: #075265;
}

#miniKeyboardp {
	cursor: pointer;
	color: #075265;
}

.tt-cursor {
	background-color: #EEE;
}

.search {
	color: #C8AD75;
	padding-top: 15px;
	padding-bottom: 5px;
}

.search-box {
	color: #FFF;
}

.adv-search {
	margin-bottom: 1px;
	font-weight: bold;
}

/*.btn.focus, .btn:focus, .btn:hover {
    color: #C8AD75;
    text-decoration: none;
	background: #FFF;
}*/

.btn-search {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 44px;
	width: 50px;
	border-radius: 50px;
	background-color: #20538d;
	border-color: #20538d;
}




/* ==================End Search Bar============================  */

















/* =====================  Footer ======================== */

.footer-area {
    padding-top: 100px;
    background-color: #222222;
}

.section-gap {
    padding: 80px 0;
}

h6 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}

.footer-text {
    padding-top: 20px;
}

.footer-text a, .footer-text i {
    color: #b01afe;
}

.single-footer-widget .click-btn {
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px 12px;
    border: 0;
}


.d-flex {
    display: flex !important;
}
.flex-row {
    flex-direction: row !important;
}

.single-footer-widget input {
    border: none;
    width: 80%;
    font-weight: 300;
    background: #191919;
    color: #777;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
}

.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
    font-size: 1em;
    line-height: inherit;
}

.single-footer-widget .info {
    position: absolute;
    margin-top: 20%;
    color: #fff;
    font-size: 12px;
}



.footer-social a {
    padding-right: 25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 991px){
.single-footer-widget {
    margin-bottom: 50px;
}}

@media (max-width: 800px){
.social-widget {
    margin-top: 30px;
}}

.p1-gradient-bg, .primary-btn, .primary-btn2:hover, .single-feature:hover, .video-area .overlay-bg, .single-footer-widget .click-btn, .generic-banner {
    background-image: -moz-linear-gradient(0deg, #20538d 0%, #20538d 100%);
    background-image: -webkit-linear-gradient(0deg, #20538d 0%, #20538d 100%);
    background-image: -ms-linear-gradient(0deg, #20538d 0%, #20538d 100%);
}


/* ==================== End Foooter ============================= */







/* ========================= Contact =============================== */

.section-padding {
    padding: 80px 0;
}

.contact .item {
    margin-top: -20px;
    padding-bottom: 60px;
}

.contact i {
    color: #ccc;
    display: inline-block;
    font-size: 44px;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    line-height: 100px;
}

.contact .item-title {
    color: #262626;
    padding-bottom: 18px;
}

.item-title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact span {
    color: #8c8c8c;
    font-size: 15px;
}

.contact form {
    max-width: 960px;
    margin: 35px auto 0;
}

.contact form .form-control {
    margin-bottom: 23px;
    text-align: center !important;
}

.wpcf7-form textarea.form-control {
    height: inherit;
}

.wpcf7-form .form-control {
    color: #8c8c8c;
    font-size: 1em;
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid #d9d9d9;
    height: 50px;
    padding: 20px 0;
    margin-bottom: 33px;
    border-radius: 0;
}



.btnz {
    background: #20538d;
    border: 1px solid #20538d;
    border-radius: 5px;
    padding: 15px 48px;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 40px;
}

/* ====================== End Contact =========================== */



















/* ========================== Media Queries ===================================== */

@media (max-width: 1200px) {

}


@media (max-width: 767px) {
	header {
		background: #fff;
		padding-bottom: 15px;
	}

	header .container img.logo {
		width: 107.5px;
		height: 30px;
	}

	.navbar-toggle {
		background-color: #777;
		margin-right: 0;
		border-color: #777;
		margin-top: 20px;
	}

	.navbar-toggle .icon-bar {
		border:solid 1px #fff;
	}

	.navbar-collapse {
		text-align: center;
	}

	/* .search-input {
		display: block;
	} */

	.search-input input {
		width: 100%;
	}

	.th, .th-query {
		width: auto;
	}

	.tt-menu {
		width: auto;
	}

}

@media (min-width: 480px) {

	.navbar {
		width:auto;
		float:right;
	}
}

@media (max-width: 480px) {

	.search-input input {
		width: 100%;
	}

	.th, .th-query {
		width: auto;
	}

	.tt-menu {
		width: auto;
	}

}








































